@model ShoppingStore_DlloSat.DAL.Entities.Category

<h4>Country</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CreateDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CreateDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ModifieDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ModifieDate)
    </dd>
</dl>